footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0;
  border-top: 1px solid #999;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-media {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      padding: 0 0.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1024px) {
  footer {
    max-width: 600px;
    padding: 3rem 0;

    img {
      width: 50%;
    }

    p {
      font-size: 0.9rem;
    }

    .social-media {
      a {
        padding: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  footer {
    max-width: 400px;
    padding: 3rem 0;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;

    .logo img {
      width: 30%;
    }

    .social-media {
      a {
        padding: 0;
      }
    }
  }
}
